@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.cont1 {
    padding-top: 10px; 
    background-color: black;
   /* text-decoration: blanchedalmond; */
    width: 100%;
    height: 100vh; 
    padding-bottom: 40px;

}

.cont1 img{
    position: absolute;
        top: 170px;
        right: 15%;
        width: 20%;
}

nav ul {
   
    top: 0;
    left: 0;
    text-align: left;

    
    z-index: 6;
    padding-top: 200px;
    padding-bottom: 200px;
    
}

 nav ul li a {
    color: lightcyan;
    text-decoration: none;
    display: block;
    width: 20%; 
   
    

} 

nav ul li  {
    color: lightcyan;
    text-decoration: none;
    display: block;
    width: 20%; 
    padding: 1em 2em;
    

}

 nav ul li form input {
    /* color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    width: 40%;  */
    background: rgb(18, 80, 212);
    color: white;
    border-radius: 40px;
    cursor: pointer;
}  

.crud
{
    margin-bottom: 100px;
}


.btn
{
    position: relative;
    background: rgb(18, 80, 212);
    color: white;
    border-radius: 40px;
    cursor: pointer;
    margin: 30px;
    padding: 20px;
}

.btn2
{
    position: relative;
    background: rgb(18, 80, 212);
    color: white;
    border-radius: 40px;
    cursor: pointer;
    padding: 5px;
}

a
{
    text-decoration: none;
    color: ivory;
}

table {
    border-collapse: collapse;
    width: 70%;
    position: relative;
    margin: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: rgb(18, 80, 212);
    color: white;
  }